.sidebar{
    color:white;
}


superadmin.css

/* Sidebar styles */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 250px;
  background-color: #333;
  color: #fff;
  transition: transform 0.7s ease;
  z-index: 1000;
}


.open {
  transform: translateX(0);
}


.close {
  transform: translateX(-170px);
}

.toggle-icon {
  cursor: pointer;
  padding: 10px;
  position: absolute;
  bottom : 0px;
  right:15px;
}

.menu-list {
  position: absolute;
  top: 100px; /* Adjust as needed */
  left: 0px;
  text-align:justify;
  width: 100%;
  cursor: pointer;

}

.menu-list ul {
  list-style: circle;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.menu-list li {
  padding: 20px;
}

.menu-list li:hover {
  background-color: #2f8909;
}

.active-background {
  background-color: rgb(147, 129, 129);
}



.menu-icon-1 {
  background-color: #73777f; /* Light gray background color */
  padding: 10px; /* Adjust padding as needed */
  margin-top: 15px;
  margin-bottom: 20px;
  border-radius: 0%; /* Optional: Add border-radius for rounded shape */
  
}

.menu-item {
  display: flex; /* Use flexbox layout */
  align-items: center; /* Align items vertically */
  margin-bottom: 0px;
}

.menu-item span {
  margin-left:20px; /* Adjust spacing between icon and text */
}


.closed-menu-icons {
  display: flex; /* Use flexbox layout */
  flex-direction: column; /* Arrange items vertically */
  align-items: center; /* Center items horizontally */
  margin-right: 0px;
  margin-top: -35px;
}



/* Adjusted margin based on sidebar state */
.sidebar-open {
  margin-left: 50px; /* Width of sidebar */
}

.sidebar-closed {
  margin-left: 40px; /* Adjust as needed */
}

.text-center {
  text-align: center;
}

.top-margin{
  margin-top: 20px;
}


.closed-menu-icons {
  position: absolute;
  top: 100px; /* Adjust as needed */
  right: 0px;
  display: flex;
  flex-direction: column;
}

.closed-menu-icons .menu-icon {
  margin-bottom: 30px;
}



.sidebar {
  width: 250px; /* Adjust width as needed */
  background-color: #1a202c; /* Sidebar background color */
  position: fixed;
  height: 100%;
  top: 0;
  left: 0;
  transition: transform 0.3s ease-in-out;
  z-index: 1000; /* Ensure sidebar is above other content */
  overflow-y: auto; /* Enable vertical scrolling if content overflows */
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); /* Add shadow for depth */
}



/* Active link */
.link {
  text-decoration: none;
}



.link.active {
  background-color: #4a5568; /* Active link background color */
  color: #ffffff; /* Active link text color */
}

/* Link hover effect */
.link:hover {
  background-color: #2d3748; /* Darken background on hover */
  
}

.username{
  margin-left: 30px;
  
}






